#wfhWorldTable {
  margin-top: 2em;

  .wfhWorldTableHeader tr:first-child > th {
    background-color: #deebf7;
    color: #08519c;
  }
}

@media only screen and (max-width: 768px) {
  #wfhWorldTable {
    .row > [class*="eight wide"].column {
      width: 100% !important;
    }

    .wfhWorldTable2 {
      margin-top: 1em;
    }
  }
}
