#mapContainer {
  margin-top: 2em;
}

.hoverinfo {
  padding: .5em !important;
  .hoverInfoCountryName {
    font-size: 1.5em;
    color: #2185d0;
    
  }
  .hoverInfoCount {
    color: #21ba45;
    font-size: 1.3em;
  }
}